body {
	background-color: #212121;
	text-align: center;
}

h3 {
	text-align: center;
	color: #C9AB05;

}

.PageTitle {


}

/*
.instructions{
	height: ;
	width: ;
	color: ;

}

*/

    
    
.characterCard{

	
}

.char1{

}

.char2{

}

.char3{

}

.char4{

}

.Deck1{
	height: 300px;
	width: 200px;
}

.Deck2{
	height: 300px;
	width: 200px;
}

.Deck3{
	height: 300px;
	width: 200px;
}

.Deck4{
	height: 300px;
	width: 200px;
}
